.about-content
    background-image: url("/images/bg-home.jpg")
    background-repeat: no-repeat
    background-size: cover
    background-position: center
    flex: 1

    > .content
        @extend .container
        font-size: 16px
        max-width: 768px
        padding-bottom: 60px
        padding-top: 60px

    > .content > h1
        margin-bottom: 16px
