.app-footer
    @extend .navbar
    @extend .navbar-inverse
    @extend .navbar-static-top
    background-color: rgba(18, 18, 18, 0.8)
    border-top: solid #fff 1px
    margin-bottom: 0
    margin-top: 10px



