$nav-link-border-size = 4px

.app-header
    @extend .navbar
    @extend .navbar-default
    @extend .navbar-static-top
    border-bottom: solid #fff 1px
    margin-bottom: 10px
    z-index: 1002
    background-color: rgba(18, 18, 18, 0.8)


    > .container-fluid > .collapse > .navbar-nav > li > a
        @media screen and (min-width: $screen-sm-min)
            padding-bottom: $navbar-padding-vertical - $nav-link-border-size
            border-bottom: $nav-link-border-size solid transparent

    > .container-fluid > .collapse > .navbar-nav > li > a.-active
        @media screen and (min-width: $screen-sm-min)
            border-color: pink
