.auth-header
    background: transparent
    color: #757575
    padding: 15px
    text-align: right

    > .signin
        padding: 8px
        text-align: center
        color: light-grey


    > .signin:hover
        background: rgba(green, 0.4)
        text-decoration: none

    > .signedin
        color: light-grey

    > .signedin > .avatar
        $size = 40px
        border-radius: 50%
        height: $size
        margin-right: 10px;
        width: $size

    > .signedin .user
        font-weight: bold

    > .signedin a
        color: #757575
        text-decoration: underline

    > .signedin a:hover
        color: lighten(#757575, 30%)
