.banner-with-logos
    background: #333
    color: #fff
    text-align: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    padding: 1em 0
    
    .logo
        width: 20%
        display: block
        min-width: 200px
        margin: 1em 2em
        
        img
            display: block
            width: 100%
