.banner-with-logos
    background: dark-grey
    color: wheat
    text-align: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: stretch
    padding: 1em 0
    
    a
        width: 20%
        display: flex
        justify-content: center
        align-items: center
        min-width: 200px
        margin: 1em 2em
        padding: 2em
        background: #fff
        border-radius: 10em
        overflow: hidden
        
        img
            display: block
            width: 100%
