.banner-with-logos
    background: dark-grey
    color: wheat
    text-align: center
    display: flex
    flex-wrap: wrap
    justify-content: center
    align-items: center
    padding: 4em 0

    a
        width: 20%
        display: flex
        justify-content: center
        align-items: center
        min-width: 200px
        margin: 1em 2em
        padding: 0.5em
        background: green
        border-radius: 0.5em
        overflow: hidden

        img
            display: block
            width: 100%
