.genre-list
    make-row()
    list-style-type: none
    margin-top: 60px
    padding: 0
    > .genre
        @extend .col-xs-6
        @extend .col-sm-4
        @extend .col-sm-2
        margin-bottom: 30px

    > .genre > img
        @extend .img-responsive

    > .genre > .title
        background-color: offwhite
        border-radius: 50%
        color: green
        padding: 65px 0
        text-align: center

    > .genre > .title > h4
        margin: 0
        font-size: 18px
        font-weight: 200


    > .genre.-active
        cursor: pointer

    > .genre.-active > .wrap1 > .wrap2
        background-color: green

    > .genre.-active > .title
        background-color: green
        color: #fff
.genre-list > h3
    color: offwhite
    font-weight: 200
    margin-bottom: 60px
    text-align: center
    text-transform: uppercase
