.layout-container
    display: flex
    min-height: 100vh
    flex-direction: column

    > .main
        background-image: url("/images/bg-home.jpg")
        background-repeat: no-repeat
        background-size: inherit
        background-position: center
        display: flex
        flex: 1 0 auto
        flex-direction: column
