.navbar-transcribe
    background-color: offwhitergba
    border: 0
    margin-bottom: 0
    padding: 5px 0
    position: absolute
    text-align: center
    width: 182px
    z-index: 1

    > .container-fluid > p
        color: medium-grey
        font-size: 14px
        margin: 10px 0

    > .container-fluid > .title
        border-top: 1px solid light-grey
        color: medium-grey
        font-size: 14px
        font-weight: 700
        margin: 10px 0
        padding: 10px 0

    > .container-fluid > .controls
        display: inline-block

    > .container-fluid > .controls > .button
        @extend .btn
        @extend .navbar-btn
        button-variant(light-grey, dark-grey, dark-grey)

    > .container-fluid > .controls > .button.-tool
        @extend .btn-primary
        color: dark-grey
        width: 90%

    > .container-fluid > .controls > .button.-tool.-active
        button-variant($brand-primary, green, $brand-primary)

    > .container-fluid > .controls > .button.-next
        @extend .btn-success

    > .container-fluid > .controls > .button > .icon
        @extend .glyphicon
        color: green

    > .container-fluid > .controls > .button.-tool > .icon
        color: dark-grey
        margin-right: 5px

    > .container-fluid > .controls > .button.-tool.-active > .icon
        color: $brand-primary

    > .container-fluid > .controls > .button > .icon.-text
        @extend .glyphicon-font

    > .container-fluid > .controls > .button > .icon.-image
        @extend .glyphicon-picture

    > .container-fluid > .controls > .button > .icon.-tutorial
        @extend .glyphicon-question-sign

