.snippet-modal > .modal-dialog

    .snippet-name
        @extend .form-control
        margin-top: 20px

    .buttons
        margin-top: 20px

    img
        display: block
        margin: 0 auto

    .buttons > .button
        @extend .btn
        @extend .btn-primary

    .buttons > .button.-save
        @extend .btn-default
