<header class="app-header">
    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" ng-click="vm.headerCollapse = !vm.headerCollapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="Home">Shakespeare's <b>World</b></a>
        </div>

        <div class="collapse navbar-collapse" collapse="vm.headerCollapse">
            <ul class="nav navbar-nav">
                <li ng-repeat="link in ::vm.links">
                    <a ui-sref="{{ link.state }}" ui-sref-active="-active" class="link" ng-bind="link.label"></a>
                </li>
                <li><a class="link" href="https://www.zooniverse.org/projects/zooniverse/shakespeares-world/talk/" target="swtalk">Talk</a></li>
                <li>
                    <a class="link" href="http://blog.shakespearesworld.org/" target="swblog">Blog</a>
                </li>
            </ul>
            <div auth-header></div>
        </div>
        <div class="lower-header" ui-view="lower-header"></div>
    </div>
</header>
