<div class="modal-header">
    <h3 class="modal-title">Save snippet to cribsheet</h3>
</div>

<div class="modal-body">

    <img ng-src="{{vm.snippet.cropUrl}}">

    <form ng-submit="vm.save()">
        <input id="user-input" ng-model="vm.snippet.name" class="snippet-name" placeholder="Snippet name" required="required" />
    </form>

    <div class="buttons">
        <button class="button -save" ng-click="vm.save()">Save</button>
        <button class="button" ng-click="vm.close()">Discard</button>
    </div>

</div>
