<div class="modal-header">
    <h3 class="modal-title">Save snippet to cribsheet</h3>
</div>

<div class="modal-body" ng-keydown="vm.keyPress($event)">

    <img ng-src="{{vm.snippet.cropUrl}}">
    <input id="#userInput" ng-model="vm.snippet.name" class="snippet-name" placeholder="Snippet name" required="required" />


    <div class="buttons">
        <button class="button -save" ng-click="vm.save()">Save</button>
        <button class="button" ng-click="vm.close()">Discard</button>
    </div>

</div>
