<div class="modal-body">

    <section ng-show="vm.page === 1">
        <img ng-src="images/tutorial/step{{ vm.page }}.png">

        <p>1. <b>Only transcribe what you can read confidently: you can do as little as one word on a page, or a whole page one line at a time. </b>Click ‘Transcribe Text’ (left) and then click at the start and end of a word, phrase or an entire line. Blue dots appear: the second dot triggers a transcription box and keypad. <b>Preserve spelling, punctuation and capitalisation: we are looking for unrecorded spellings in order to improve the Oxford English Dictionary. Modernisation won’t help!</b> Click ‘save changes’ after each transcription.</p>
    </section>

    <section ng-show="vm.page === 2">
        <img ng-src="images/tutorial/step{{ vm.page }}.png">

        <p>2. Use the keypad for common abbreviations such as w<sup>ch</sup> meaning w<i>hi</i>ch, or y<sup>t</sup> meaning th<i>a</i>t. Always use abbreviation buttons when you can in order to create consistent data. Sometimes you may need to add letters. In this example, click the ‘Ma<sup>tie</sup>’ abbreviation and add an ‘s’ to make ‘Maiesties’.
        </p>
    </section>


    <section ng-show="vm.page === 3">
        <img ng-src="images/tutorial/step{{ vm.page }}.png">
        <p>3. <b>Moving on</b>: Click ‘I’m done’ on the left and ‘No, there are still things to transcribe’ if you want to <b>skip a page</b> or only transcribe part of it. If you <b>transcribe a whole page</b> click ‘I’m done’ and ‘Yes, everything is transcribed’. Identify <b>blank pages</b> with the ‘This page was blank’ button. ‘<b>Download pdf</b>’ saves a copy of your transcription to the desktop, but it does not bookmark your spot for a future session. If you move on to a new page, you can’t go back.</p>
    </section>

    <section ng-show="vm.page === 4">
        <img ng-src="images/tutorial/step{{ vm.page }}.png">

        <p>4. Zoom, rotate and re-center/re-set images using the bottom four buttons on the left hand side of the screen. Example letters are stored under the ‘A’ button.</p>
    </section>

    <section ng-show="vm.page === 5">
        <img ng-src="images/tutorial/step{{ vm.page }}.png">

        <p>5. Graphic features, including coats of arms and wax seals are captured with the ‘Identify Graphic’ button (left). Toggle it on, click and drag to draw a rectangle around a feature. Select the relevant type from the list. See the field guide for examples.
        </p>
    </section>

    <section ng-show="vm.page === 6">
        <img ng-src="images/tutorial/step{{ vm.page }}.png">
        <p>6. <b>Deletions, insertions, unclear text, and superscript</b>: If text is deleted but legible, write out the word(s), highlight them with your cursor and click ‘deletion’ on the keyboard under the transcription box. If a word is inserted over a line, write it out, highlight and click ‘insertion’. Use the ‘unclear’ button to record genuinely obscured or damaged text. Type what you can read (if anything) or type ??? to signify the unclear word. Highlight it and press ‘unclear’. Dates and money are often represented with superscript letters, as in 3rd, XIth, 4s and 3d. Type what you see, highlight what should be superscript, click ‘Superscript’ on the keypad.
        </p>
    </section>

    <section ng-show="vm.page === 7">
        <img ng-src="images/tutorial/step{{ vm.page }}.png">
        <p>7. <b>Marginalia</b> describes text that appears in the margin of the page outside the main body text, such as this note about a recipe. <b>Transcribe marginalia separately from body text</b>. Type the text, highlight it and click ‘marginalia’ on the keypad, which adds a grey background. Use any other buttons that apply, i.e. abbreviations, deletion etc.
        </p>
    </section>

    <section ng-show="vm.page === 8">
        <img ng-src="images/tutorial/step{{ vm.page }}.png">
        <p>8. <b>Deleting and editing your work</b>: If you want to edit or delete a transcription or graphic, toggle the relevant button (‘Transcribe Text’ or ‘Identify Graphic’), then click on the dot or box you want to ‘edit’ or ‘delete’. Deleting blue dots or blue boxes deletes your work for that line or graphic only, not the whole page.
        </p>
    </section>

    <section ng-show="vm.page === 9">
        <img src="images/tutorial/step{{ vm.page }}.png">
        <p>9. <b>Expansions</b>: While many expansions are on the keyboard, some are not. If you know how to expand a word please type the whole word and then highlight any implied letters with the ‘expansion’ button. In this example the ‘m’ in fro<i>m</i> is implied.</p>
    </section>

    <section ng-show="vm.page === 10">
        <img src="images/tutorial/step{{ vm.page }}.png">
        <p>10. <b>Help, guidance and more information</b>: A longer version of the tutorial is available in the Field Guide, along with many other resources. Click ‘Catalogue’ on the left to see the bibliographical record for each document. Click ‘Original’ to see the whole original document. Use Talk to chat, ask questions, identify interesting pages or features. Create discussion threads using # (hashtags) i.e. #waxseal or #DailyZoo.</p>
    </section>

    <section ng-show="vm.page === 11">
        <img src="images/tutorial/step{{ vm.page }}.png">
        <p>11. <b>Cribsheet</b>: You can create your own <i>cribsheet</i> using the ‘A Snapshot’ button on the left. Toggle it on, draw a box around the letter/number/word you want to store for future reference, and give it a name. The list button on the left (under ‘A’) opens your cribsheet.</p>
    </section>

</div>

<div class="modal-footer">
    <button class="button -prev" ng-click="vm.page = vm.page - 1" ng-show="vm.page > 1">Previous</button>
    <button class="button -next" ng-click="vm.page = vm.page + 1" ng-show="vm.page < 11">Next</button>
    <button class="button -start" ng-click="vm.close()" ng-show="vm.page === 11">Get Started!</button>
</div>
