<nav class="navbar navbar-transcribe navbar-static-top">
    <div class="container-fluid">
        <div>Author: {{vm.author}}</div>
        <div>Genre: {{vm.genre}}</div>
        <div><a ng-href="{{vm.original}}" target="_blank">Original</a></div>
        <div>Title: {{vm.title}}</div>
        <p>What do you see? Transcribe as much as you can with the tools below.
        </p>
        <div class="controls">
            <button type="button" class="button -tool" ng-class="{ '-active': vm.tools.text.active }" ng-click="vm.tools.text.toggle()">
                <span class="icon -text" aria-hidden="true"></span> Transcribe Text
            </button>
            <button type="button" class="button -tool" ng-class="{ '-active': vm.tools.graphic.active }" ng-click="vm.tools.graphic.toggle()">
                <span class="icon -image" aria-hidden="true"></span> Identify Graphic
            </button>
            <button label="Tutorial" class="button -tool" ng-click="vm.$openTutorial()">
                <span class="icon -tutorial" aria-hidden="true"></span> Tutorial
            </button>
        </div>
        <div class="title">Are you finished with this page?</div>
        <p>Remember, you're not required to transcribe the whole page!</p>
        <div class="controls">
            <button type="button" class="button -next" ng-click="vm.$variants()">
                I'm done!
            </button>
        </div>

    </div>
</nav>
