<nav class="navbar navbar-transcribe navbar-static-top">
    <div class="container-fluid">
        <p>What do you see? Transcribe as much as you can with the tools below.
        </p>
        <div class="controls">
            <button type="button" class="button -tool" ng-class="{ '-active': vm.tools.text.active }" ng-click="vm.tools.text.toggle()">
                <span class="icon -text" aria-hidden="true"></span> Transcribe Text
            </button>
            <button type="button" class="button -tool" ng-class="{ '-active': vm.tools.graphic.active }" ng-click="vm.tools.graphic.toggle()">
                <span class="icon -image" aria-hidden="true"></span> Identify Graphic
            </button>
            <button type="button" class="button -tool" ng-class="{ '-active': vm.tools.marginalia.active }" ng-click="vm.tools.marginalia.toggle()">
                <span class="icon -text" aria-hidden="true"></span> Marginalia
            </button>
        </div>

        <div class="title">Are you finished with this page?</div>

        <p>Remember, you're not required to transcribe the whole page!</p>
        <div class="controls">
            <button type="button" class="button -next" ng-click="vm.$loadNext()">
                I'm done!
            </button>
        </div>

    </div>
</nav>
