<div aria-label="Graphic" aria-hidden="{{ !active }}" class="graphic-dialog" ng-class="{ '-active': vm.active }" ng-style="position" role="dialog" tabindex="-1">

    <div class="heading">
        <h3 class="title">Select one graphic type</h3>
        <button class="close" role="button" ng-click="vm.close($event)">
            <span class="icon" aria-hidden="true"></span>
            <span class="text">Close</span>
        </button>
    </div>
    <div class="body">
        <div class="buttons">
            <div class="editing" role="group">
                <button class="button" ng-class="{'-checked': graphic.tag === vm.data.tag}" ng-click="vm.setAndSave(graphic)" ng-repeat="graphic in vm.graphics">{{graphic.name}}
                </button>
            </div>
        </div>
    </div>
</div>
