<div class="overlay-controls" role="group">
    <button type="button" class="button -markingsurface" ng-click="vm.alphabet()">
        <span class="icon -alphabet" aria-hidden="true"></span>
    </button>
    <button type="button" style="display:none" class="button -markingsurface" ng-click="vm.cribsheet()">
        <span class="icon -cribsheet" aria-hidden="true"></span>
    </button>

    <button type="button" class="button -markingsurface" ng-click="vm.rotate(90)">
        <span class="icon -rotateright" aria-hidden="true"></span>
    </button>
    <button type="button" class="button -markingsurface" ng-click="vm.centre()">
        <span class="icon -centre" aria-hidden="true"></span>
    </button>
    <button class="button -markingsurface" ng-mousedown="vm.zoomStart('zoomIn', $event)" ng-mouseup="vm.zoomStop()">

        <span class="icon -zoomin"></span>
    </button>
    <button class="button -markingsurface" ng-mousedown="vm.zoomStart('zoomOut', $event)" ng-mouseup="vm.zoomStop()">
        <span class="icon -zoomout"></span>
    </button>
</div>
