<div aria-label="Transcribe line" aria-hidden="{{ !active }}" class="transcribe-dialog" ng-class="{ '-active': vm.active }" ng-style="position" role="dialog" tabindex="-1" ng-keydown="vm.keyPress($event)">

    <div class="heading">
        <h3 class="title" ng-bind="vm.title"></h3>
        <button class="close" role="button" ng-click="vm.close($event)">
            <span class="icon" aria-hidden="true"></span>
            <span class="text">Close</span>
        </button>
    </div>

    <div class="body">

        <div id="transcribeInput" ng-model="vm.transcription" class="transcribe" contenteditable="true" placeholder="Transcribe here" content-editable></div>

        <div class="buttons">

            <div class="editing" role="group">
                <button class="button -tag" ng-bind="tag.name" ng-click="vm.addTag(tag.tag)" ng-repeat="tag in vm.tags"></button>
            </div>

        </div>

        <div class="buttons">

            <div class="editing" role="group">
                <div ng-repeat="abbreviation in vm.abbreviations" data="abbreviation" ng-click="vm.html(abbreviation.tag)" abbreviations-button></div>
            </div>

        </div>

        <div class="buttons">
            <button class="button -save" ng-click="vm.saveAndClose()">Save Changes</button>
            <p class="hint">Enter to save and close, Esc to close without saving</p>
        </div>

    </div>

</div>
